[workspace]
resolver = "2"
members = [
  "xtask",
  "plugins/spectral_compressor",
]

[profile.release]
lto = "thin"
strip = "symbols"

[profile.profiling]
inherits = "release"
debug = true
strip = "none"
